.container {
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;

  border-radius: 0px;
}

.button:hover {
  background-color: cadetblue;
}

.scoreboard {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 47, 47, 0.5);
  color: white;
  text-align: center;
}